spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.MySQL8Dialect

  h2:
    console:
      enabled: false

server:
  port: 8080

user:
  admin:
    username: ${ADMIN_USERNAME}
    password: ${ADMIN_PASSWORD}

jwt:
  secret-key: ${JWT_SECRET_KEY}
  expiration:
    access: 600000
    refresh: 864000000